.section4 {
  margin-bottom: 40px;
  font-family: Arial, sans-serif;
  min-height: 100dvh;
}

.section4 .container {
  background-color: #620178;
  color: white;
}

.section4 .headings {
  padding: 10px 20px 30px 20px;
}

.section4 .headings h1 {
  margin-bottom: 10px;
}

.section4 .headings h2 {
  font-weight: normal;
}

.section4 .container2 {
  background-color: #F099F7;
  border-left: 5px solid #0A5D5E;
  border-bottom: 2px solid #0A5D5E;
  color: #003738; 
}

.section4 .container2 h3 {
  color: #0A5D5E;
}

.section4 .inner-container {
  display: flex;
  flex-direction: column;
}

.section4 .inner-container .column1 {
  width: 100%;
  padding: 10px;
}
.section4 .inner-container .column2 {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.section4 .column2 a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #0A5D5E;
  color: white;
  text-align: center;
  font-size: 14px;
}

.section4 .column2 a.active {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: white;
  color: #0A5D5E;
  border: 2px solid #0A5D5E;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
}

.section4 .column1 h3, .column1 p {
  margin-bottom: 20px;
}

.section4 .column1 a {
  text-decoration: none;
  color: #0A5D5E;
}

.section4 .sidebar {
  background-color: #420C45;
  padding: 20px 10px;
  color: #0A5D5E;
}

.section4 .sidebar h4 {
  margin-bottom: 20px;
}
